<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Your book index</title>
		<link rel="stylesheet" type="text/css" href="css/content_toolbar.css">
</head>
<body>
	<div id="csdn-toolbar"
		class="csdn-toolbar tb_disnone  csdn-toolbar-skin-black ">
		<div class="container row center-block ">
			<ul class="pull-left left-menu clearfix" id="nav-left-menu">
				<li><a href="https://www.csdn.net" title="CSDN首页"
					target="_blank" class=""><svg class="toolbar-icon"
							aria-hidden="true">
							<use xlink:href="#gonggong_csdnlogo_"></use></svg></a></li>
				<li><a href="//blog.csdn.net/" class="toolbar_to_feed"
					title="博客" target="_blank">博客</a></li>
				<li><a href="//edu.csdn.net" title="学院" target="_blank">学院</a></li>
				<li><a href="//download.csdn.net" title="下载" target="_blank">下载</a></li>
				<li><a href="https://gitchat.csdn.net/?utm_source=csdn_toolbar"
					title="图文课" target="_blank">图文课</a></li>
				<li><a href="https://www.tinymind.cn/?utm_source=csdnbar"
					target="_blank">TinyMind</a></li>
				<li><a href="//bbs.csdn.net" title="论坛" target="_blank">论坛</a></li>
				<li class="app-btn"><a href="https://www.csdn.net/app/"
					title="APP" target="_blank">APP</a>
					<div class="appControl">
						<img src="https://www.csdn.net/app/img/wxfix.jpg">
					</div></li>
				<li><a href="//ask.csdn.net" title="问答" target="_blank">问答</a></li>
				<li><a href="//mall.csdn.net" title="商城" target="_blank">商城</a></li>
				<li class="vip-caise"><a href="//download.csdn.net/vip_code"
					title="VIP会员" target="_blank">VIP会员</a></li>
				<li><a href="//huiyi.csdn.net/" title="活动" target="_blank">活动</a></li>
				<li><a href="http://job.csdn.net" title="招聘" target="_blank">招聘</a></li>
				<li><a href="http://www.iteye.com" title="ITeye"
					target="_blank">ITeye</a></li>
				<li><a href="https://gitbook.cn/?ref=csdn" title="GitChat"
					target="_blank">GitChat</a></li>
			</ul>
			<div class="pull-right login-wrap unlogin">
				<ul class="btns">
					<li
						class="toolbar-tracking csdn-tracking-statistics tracking-click"
						data-mod="popu_369"><a href="#" style="padding: 0"
						target="_blank"></a></li>
					<li>
						<div class="search_bar csdn-tracking-statistics tracking-click"
							data-mod="popu_366">
							<input class="input_search" name="" id="toolber-keyword"
								placeholder="文章、资源" autocomplete="off" type="text"> <a
								href="//so.csdn.net/so/" target="_blank"
								class="btn-nobg-noborder btn-search"><svg
									class="toolbar-icon" aria-hidden="true">
									<use xlink:href="#sousuo"></use></svg></a>
						</div>
					</li>
					<li class="write-bolg-btn csdn-tracking-statistics tracking-click"
						data-mod="popu_370"><a class="" href="//mp.csdn.net/postedit"
						target="_blank"><svg class="toolbar-icon" aria-hidden="true">
								<use xlink:href="#xieboke1"></use></svg><span>写博客</span></a></li>
					<li class="gitChat"><a class=""
						href="//gitbook.cn/new/gitchat/activity?utm_source=csdnblog1"
						target="_blank"><svg class="toolbar-icon" aria-hidden="true">
								<use xlink:href="#gitchat"></use></svg><span>发Chat</span></a></li>
					<li class="gitChat upload"><a class=""
						href="https://download.csdn.net/upload" target="_blank"><svg
								class="toolbar-icon" aria-hidden="true">
								<use xlink:href="#csdnc-upload"></use></svg><span>传资源</span></a></li>
					<li class="userinfo"><a
						href="https://passport.csdn.net/account/login">登录</a><span></span><a
						href="https://passport.csdn.net/account/mobileregister?action=mobileRegister">注册</a></li>
					<li class="userLogin">
						<div class="loginCenter">
							<a href="//i.csdn.net" target="_blank"><img class="login_img"
								src="//csdnimg.cn/public/common/toolbar/images/100x100.jpg">
							<div class="toolbar-circle"></div></a>
						</div>
						<div class="userControl">
							<div>
								<a href="//blog.csdn.net/" target="_blank">我的博客</a>
							</div>
							<div>
								<a class="xiaoxi" href="http://msg.csdn.net/" target="_blank">消息<span
									class="toolbar-newsL">(3)</span></a>
							</div>
							<div>
								<a href="https://i.csdn.net/#/account/index" target="_blank">帐号设置</a>
							</div>
							<div>
								<a href="//bbs.csdn.net/forums/Service" target="_blank">反馈</a>
							</div>
							<div>
								<a href="https://blog.csdn.net/home/help.html" target="_blank">帮助</a>
							</div>
							<div>
								<a href="//passport.csdn.net/account/logout">退出</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>